@import-normalize; /* bring in normalize.css styles */

:root {
  --black: #121417;
  --semiblack: #8a8a89;
  --olive: #9fbaae;
  --semiolive: #cbded3;
  --dark-grey: rgba(18, 20, 23, 0.8);
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.375;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
